*,
html,
body {
    max-width: 100%;
}

html, body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    height: 100%;
    color: black !important;
}

body {
    background-color: #343a40 !important;
}

h1,
h2 {
    margin-top: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.loggedin h1,
.loggedin h2,
.loggedin p,
.loggedin button,
.loggedin a,
.loggedin label {
    margin-left: 20px;
}

.loggedin label {
    padding: 5px;
}

.header {
    background: #ddd;
    padding: 20px;
}

.jumbotron {
    height: calc(100% - 120px);
    background-color: white;
    overflow: auto;
    margin-bottom: 0;
    padding: 15px 0;
}

.bg {
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-hotel {
    background-image: url('../images/hotel.jpg');
}

.wrap {
    padding: 20px;
    margin-top: 50px;
    border: 2px solid white;
    border-left-color: transparent;
    border-right-color: transparent;
    background-color: rgba(255,255,255,.65);
}

.bg-hotel .row h1,
.bg-hotel .row h4,
.bg-hotel .row form,
.bg-hotel .row a,
.bg-hotel .row p {
    padding: 10px;
    margin: 0 auto;
}

.whitebg {
    background-color: rgba(255, 255, 255, 0.5);
    margin-bottom: 20px;
    padding-left: 40px;
    padding-bottom: 20px;
}

.buttons {
    margin-top: 20px;
}

.col-md-10 {
    padding-right: 0;
}

label,
.btn-login,
.btn-contact {
    min-width: 180px;
    max-width: 180px;
}

select {
    margin-left: -3px;
    border: 1px solid silver;
}

select,
input[type='text'],
input[type='text']:disabled,
input[type='number'],
input[type='password'],
textarea {
    box-sizing: border-box;
    min-width: 180px;
}

input[type='text'],
input[type='text']:disabled,
input[type='number'],
input[type='password'] {
    box-sizing:content-box;
    border: 1px solid silver;
}

.required {
    border-color: red !important;
    background: pink;
}

.required-star {
    color: red;
    font-weight: bold;
    margin: 0 5px;
}

tr.suite,
.suite {
    background-color: gold !important;
}

tr.premium,
.premium {
    background-color: silver !important;
}

tr.standard,
.standard {
    background-color: whitesmoke !important;
}

tr.storno,
tr.checkout {
    opacity: .2;
}

.bold {
    font-weight: bold;
}

.title-box {
    margin: -90px 100px 0;
}

.title-box p {
    margin: 0;
}

.row+.row {
    margin-top: -10px;
}

.table th {
    padding: 10px;
    line-height: 30px;
}

.text-center {
    text-align: center;
}

.table {
    background-color: rgba(255,255,255,.9);
}

.table-padding {
    padding-left: 17px !important;
}

.table td span+span {
    margin-left: 20px;
}

.table tbody tr:hover {
    transition: background-color .4s ease;
    background-color: #ddd !important;
}

.btn+.btn {
    margin-left: 5px;
}

.footer {
    padding: 20px;
    border-top: 2px solid #ddd;
    color: white;
}
